<h1>All your job apps</h1>
<hr>
<% @job_apps.each do |job_app| %>
    <h1><%= job_app.job['position'] %></h1>
    <p><%= job_app.job['description'] %></p>
    <p></p>
    <% case job_app.status 
        when 0 %> <h2>Current Status: Pending</h2>
        <% when 1 %> <h2>Current Status: Accepted</h2>
        <% when -1 %> <h2>Current Status: Rejected</h2>
    <% end %>
    <%= link_to 'Delete', "/applicants/users/#{job_app.user['id']}/job_applications/#{job_app['id']}",
    method: :delete, data: { confirm: 'Are you sure?' } %>
    <hr />
<% end %>
<%= link_to 'Home', root_path %>