<div class='top-section'>
    <%= react_component "NavigationHome", { isSignedIn: current_user } %>
</div>

    <header class="inner-page-headers"><h1>Job Applications</h1>
    <hr>
    </header>

<% @job_apps.each do |job_app| %>
    <p class="app-body-main"><%= job_app.job['position'] %></h1>
    <p class="app-body"><%= job_app.job['description'] %></p>
    <p></p>

    <% case job_app.status 
        when 0 %> <p class="app-body-yellow">Current Status: Pending</h2>
        <% when 1 %> <p class="app-body-green">Current Status: Accepted</h2>
        <% when -1 %> <p class="app-body-red">Current Status: Rejected</h2>
    <% end %>
    <%= link_to 'Delete', "/applicants/users/#{job_app.user['id']}/job_applications/#{job_app['id']}",
    class: "accept-buttons", method: :delete, data: { confirm: 'Are you sure?' } %>
    <hr />
<% end %>
