
.map-banner {
    padding: 0
}

#map-search-bar {
    margin-right: 0;
    display: block;
}

#map-search-input {
    height: 2.7rem;
}


#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active {
    background-color: lightskyblue !important; 
    border: none;
    margin: 0 !important;
    color: white !important;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  .inactive {
    background-color: darkgray !important; 
    border: none;
    margin: 0 !important;
    color: white !important;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  #fav {
    background-color: rgb(255, 195, 17) !important
  }

  #unfav {
    background-color: #2F78F3
  }
  
